body {
  margin: 40px 0;
  font-family: Josefin Sans;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0px 40px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  align-items: center;
  grid-gap: 30px;
  margin: 40px;
}

.socials {
  display: flex;
  gap: 20px;
}

.socials img {
  width: 25px;
}

.search img {
  width: 45px;
}

header h1 {
  font-size: 3em;
  margin: 0;
}

header h1 span {
  color: #ea5675;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 5px;
}

nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.603);
}

.foto {
  width: 175px;
  height: 200px;
  background-size: cover;
  box-shadow: 2px 2px 4px grey;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
}

.svg {
  width: 15px;
  margin: auto;
  align-self: center;
}

.container b {
  font-size: 0.6em;
  align-self: center;
}

.wrapper p {
  text-align: center;
  width: 175px;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.504);
}
.svg-container {
  display: flex;
  justify-content: center;
  align-self: center;
}
